.container {
    width: 1200px;
    margin: 0 auto;

}

.text_block{
    color: #343742 ;
    text-indent: 20px;
    font-size: 20px;
    text-align: justify;
    margin-right: 50px;
    font-weight: bold;
}

.name_company{
    text-align: center;
    font-size: 50px;
    color: #0171C5;
    font-weight: bold;
}

.description {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 20px;
}

.photo {
    height: 290px;
    width: 490px;
    border-radius: 10px;
}

.counter {
    background: #ff6b57 none repeat scroll 0 0;
    border-radius: 4px;
    box-shadow: 0 7px 17px 0 rgb(0 0 0 / 0.2), 0 6px 20px 0 rgb(0 0 0 / 0%);
    color: #fff;
    padding: 50px 30px;
    text-align: center;
    margin-bottom: 30px;
}
