.navbar_container {
    height: 80px;
    background-color: #0171C5;
}

.navbar_text_block{
    width: 1200px;
    height: 100%;
    margin: 0 auto;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}

.name_company{
    width: 40%;
    height: 100%;
    display: flex;
    justify-content: start;
    align-items: center;
    font-size: 40px;
    font-weight: bold;
    /*color: #202736;*/
    color: white;
}

.navbar{
    width: 60%;
    height: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 25px;
    font-weight: bold;
    color: white;
}

.name_company img {
    width: 70px;
    margin-right: 10px;
}

.navbar_main, .navbar_about, .navbar_services, .navbar_contacts {
    /*cursor: pointer;*/
    height: 100%;
    width: 25%;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 2px;
    flex-wrap: wrap;
}

.link {
    color: white;
    text-decoration: none;
    cursor: pointer;
}

/*.navbar_main:hover , .navbar_about:hover , .navbar_services:hover , .navbar_contacts:hover {*/
/*    !*border-bottom: 2px solid white;*!*/
/*    background-color: white;*/
/*    color: #0171C5;*/
/*}*/

.link_active {
    color: white;
    text-decoration: none;
    border-bottom: 2px white solid;
}


